My workflow 7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "embeddingBatchSize": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "aed12e5c-ebf9-41a3-92a5-b9a646db3105",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QVQVZTQcrLVopZ1C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Hi there! 👋\nMy name is Nufian. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        256
      ],
      "id": "61b5e093-a7d0-4f1f-a975-87c12030d8f5",
      "name": "When chat message received",
      "webhookId": "8e2146e1-379a-4f0e-a981-1c5f75a3e369"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah Asisten Akademik Khusus Panduan Skripsi/Tugas Akhir. Tugasmu adalah menjawab pertanyaan mahasiswa mengenai aturan penulisan, format dokumen, teknik sitasi, dan struktur bab berdasarkan dokumen resmi.\n\nPROSEDUR:\n\nGunakan 'Supabase Vector Store Tool' untuk mencari aturan spesifik (misal: margin, jenis font, cara sitasi).\n\nDILARANG KERAS memberikan jawaban berdasarkan pengetahuan umum. Jika jawaban tidak ada di dalam 'Supabase Vector Store Tool', kamu WAJIB menjawab: 'Maaf, informasi tersebut tidak ditemukan dalam dokumen panduan resmi.'\n\nJawab dengan poin-poin agar mudah diikuti mahasiswa.\n\nPENTING: Saat memanggil 'Supabase Vector Store Tool', pastikan kamu mengirimkan parameter dengan nama 'input' yang berisi ringkasan pertanyaan user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -528,
        256
      ],
      "id": "91b20bb9-568d-44da-a71e-30d149ac21be",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -432,
        480
      ],
      "id": "5d8514ff-d199-4149-821b-9501da38f429",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "QPBgmNg383J8yGIN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        48
      ],
      "id": "89fff36b-d469-4546-b668-d2888592ae1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_XWsUYxknCFquBboMq18YKzz7vN0aPI3",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1_XWsUYxknCFquBboMq18YKzz7vN0aPI3/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        48
      ],
      "id": "49ff9779-e13e-40b4-9f71-aad1533b897f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7BdY8zM8WLe3AUz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk mencari informasi mengenai pedoman teknis penulisan ilmiah, format laporan, aturan sitasi, tata letak (margin/font), dan struktur bab skripsi/tugas akhir. Tool ini menerima parameter 'input' berupa string pertanyaan user.",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -224,
        384
      ],
      "id": "f090ad11-1227-48a7-9d00-3f12e323c15e",
      "name": "Supabase Vector Store Tool",
      "credentials": {
        "supabaseApi": {
          "id": "QVQVZTQcrLVopZ1C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        48
      ],
      "id": "2980aa0a-1093-48de-8414-a00d32bb1d4f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        288
      ],
      "id": "411a16e3-01b4-400d-8c0b-c2a083161a5f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        96,
        512
      ],
      "id": "9d956a00-885a-495b-aac6-f72faa810fcf",
      "name": "Embeddings Ollama",
      "alwaysOutputData": false,
      "credentials": {
        "ollamaApi": {
          "id": "2KKTtv7EoCPPysJq",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -592,
        480
      ],
      "id": "f929200a-40c2-474d-8b5b-829b12e123c3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "2KKTtv7EoCPPysJq",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ee88924-8ad9-4daa-b4f2-8cd9b474c6f6",
              "name": "text_lengkap",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        48
      ],
      "id": "0deb6ab2-cf03-4acc-8dc3-3e9701ab99bf",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3ec07ca0-cd9e-408a-aa26-5747ada27f72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9061033301a241aa9238eeeb7e9cd64157113124d815ed45ae02f29ad5e40eb"
  },
  "id": "U3ECWAVreI0J92Hb",
  "tags": []
}